{% extends "base.html" %}
{% block content %}
<h1 style="text-align:center">About us </h1>
<hr />
<div >
    <p style="text-align:center">
        Vintech Blog   Central , provides latest Technology Development blogs with insight on the latest...<br />
         and most important issues in information technology through various IT,software ,<br />
        android and iPhone development  blogs.- read the latest technology news and  about IoT. AI, Web and Mobile Development.
    </p>
</div>
{% endblock %}
