{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>
 <!---the sidebar widgets column-->
 <div class="col-md-4 float-right">
    <div class ="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
    <p class="card-text">This awesome blog is  centred around individuals who want to start a career in Web development,data science and  the broader software development,with specific South African geeks who want to explore the intricacies of the  local ICT sector.<br />
        The blog will dedicate a special section about the Bootcamp culture with the aim of reaching  peeps from disadvantaged backgroound,I will be more than happy when the ruralitarian  geek movement awakens to this new era of computing and accessibility of the web ,in the age of the 4th Industrial revolution.</p>
        <a href="https://victor-nkuna-websites.netlify.app/"
        class ="btn btn-primary" target="_blank">Know more</a>

    </div>

</div>
</div>




{% endblock sidebar %}


